body {
    width: 75%;
   margin: 0px auto; 

   display: flex;
   min-height: 100vh;
   flex-direction: column;
   
}

header {
    height: 100px;
}

header > nav {
    height: 100%;
}

main {
    flex: 1 0 auto;
}

main h1 {
    font-weight: bold;
    
}

 main h2 {
    font-weight: 300;
}

#logo-icon {
   margin-left: 50px;
   margin-top: 20px;
}

#logo {
    margin-left: 50px;
    margin-top: 20px;
}

#head-nav-links {
    margin-right: 50px;
    margin-top: 20px;
}

.mainpanel{
   margin: 50px;
}

#mainpanel-content {
    margin: 50px;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: 'Trajan Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Trajan Pro Regular'), url('TrajanPro-Regular.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Trajan Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Trajan Pro Bold'), url('TrajanPro-Bold.woff') format('woff');
    }